<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">

<% @post.images.each do |image|%>
    <div class='item-img-content'>
      <%= image_tag image ,class:"item-box-img" %>
    </div>
    <% break %><% end %>

 <div class="edit-box">
    <% if @post.user.id == current_user.id %>
    <%= link_to '編集', edit_post_path(@post), method: :get, class: "edit-btn" %>
    <%= link_to '削除', post_path(@post), method: :delete,data: { confirm: '削除しますか？' }, class:'destroy-btn' %>
    <% end  %>
  </div>

    <div class="item-explain-box">
     <b><%= link_to @post.user.nickname,user_path(@post.user) %></b><br>
      <span><%= @post.text %></span>
    </div>
       <div class="option">
      <div class="favorite-btn">
        <%= image_tag "heart.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>いいね 0</span>
      </div>
    </div>
  </div>

  <div comment-all>
    <% @comments.each do |comment|%>
      <%= comment.text %>
      <% end %>
  </div>

  <div class="comment-box">
    <%= form_with model:[@post,@comment],local: true do |f| %>
      <%= f.text_field :text,class:"comment-text"%>
      <div class="comment-box">
      <%= f.submit 'コメントする', class:"comment-btn" %>
      </div>
    <% end %>
  </div>